[submodule "bwa"]
	path = bwa
	url = https://github.com/lh3/bwa
[submodule "bowtie2"]
	path = bowtie2
	url = https://github.com/BenLangmead/bowtie2.git
[submodule "picard"]
	path = picard
	url = https://github.com/broadinstitute/picard.git
