[submodule "tools/IndexRefGenomeAndAlignment/bwa"]
	path = tools/IndexRefGenomeAndAlignment/bwa
	url = https://github.com/lh3/bwa
[submodule "tools/IndexRefGenomeAndAlignment/bowtie2"]
	path = tools/IndexRefGenomeAndAlignment/bowtie2
	url = https://github.com/BenLangmead/bowtie2.git
[submodule "tools/MarkDuplicate/picard"]
	path = tools/MarkDuplicate/picard
	url = https://github.com/broadinstitute/picard.git
[submodule "tools/VariantCallingAndFiltering/samtools"]
	path = tools/VariantCallingAndFiltering/samtools
	url = https://github.com/samtools/samtools.git
[submodule "tools/VariantCallingAndFiltering/freebayes"]
	path = tools/VariantCallingAndFiltering/freebayes
	url = https://github.com/freebayes/freebayes.git
[submodule "tools/BenchmarkTool/FastQC"]
	path = tools/BenchmarkTool/FastQC
	url = https://github.com/s-andrews/FastQC.git
[submodule "tools/GWAS/Tassel/tassel-5-source"]
	path = tools/GWAS/Tassel/tassel-5-source
	url = https://bitbucket.org/tasseladmin/tassel-5-source.git
[submodule "tools/GWAS/Tassel/tassel-5-standalone"]
	path = tools/GWAS/Tassel/tassel-5-standalone
	url = https://bitbucket.org/tasseladmin/tassel-5-standalone.git
